<div style="display: flex; justify-content: center">
  <h1>Extracted Segments</h1>
</div>

<div style="display: flex; justify-content: center">
  @if (dataService.segments.length > 0) {
    <div style="display: flex; justify-content: center; flex-direction: column; gap: 20px">
      @for (s of dataService.segments; track s) {
        <app-segment [data]="s"></app-segment>
      }
    </div>
  } @else {
    <div style="display: flex; justify-content: center">
      <div style="font-size: 15pt">No segments selected</div>
    </div>
  }
</div>
