<div style="display: flex; justify-content: center">
  <h1>Extracted Segments</h1>
</div>

<div style="display: flex; justify-content: center">
  @if (dataService.segments.length > 0) {
    <cdk-virtual-scroll-viewport [itemSize]="getItemHeight()" class="segment-viewport">
      <div *cdkVirtualFor="let s of dataService.segments; trackBy: trackSegment" class="segment-item">
        <app-segment [data]="s"></app-segment>
      </div>
    </cdk-virtual-scroll-viewport>
  } @else {
    <div style="display: flex; justify-content: center">
      <div style="font-size: 15pt">No segments selected</div>
    </div>
  }
</div>
