<mat-drawer-container autosize class="drawer-container">
  <mat-drawer #drawer mode="over" class="drawer-sidenav-content">
    <div style="display: flex; flex-direction: column">
      <a mat-button routerLink="/dashboard" (click)="drawer.toggle()">Dashboard</a>
      <a mat-button routerLink="/consurf-job" (click)="drawer.toggle()">Jobs</a>
      <a mat-button routerLink="/consurf-view" (click)="drawer.toggle()">Visualization</a>
    </div>
  </mat-drawer>
  <mat-toolbar color="primary">
    <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Contort</span>
    <span class="spacer"></span>
    <div>
      <button mat-icon-button (click)="openManageDatabaseDialog()">
        <mat-icon>storage</mat-icon>
      </button>

      <button mat-icon-button (click)="openCustomScoreEditor()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="themeService.toggle()" [matTooltip]="themeService.isDark() ? 'Switch to light mode' : 'Switch to dark mode'">
        <mat-icon>{{ themeService.isDark() ? 'light_mode' : 'dark_mode' }}</mat-icon>
      </button>
      <button mat-icon-button (click)="keyboardShortcuts.showShortcutsDialog()" matTooltip="Keyboard shortcuts (?)">
        <mat-icon>keyboard</mat-icon>
      </button>
      @if (!accountService.isLogged) {
        <button mat-icon-button (click)="openLoginDialog()">
          <mat-icon>login</mat-icon>
        </button>
      } @else {
        <button mat-icon-button (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      }
      @if (websocket.isReconnecting$ | async) {
        <button mat-icon-button class="connection-reconnecting" matTooltip="Reconnecting...">
          <mat-icon>sync</mat-icon>
        </button>
      } @else if (websocket.connectionStatus$ | async) {
        <button mat-icon-button class="connection-connected" matTooltip="Connected">
          <mat-icon>cloud_done</mat-icon>
        </button>
      } @else {
        <button mat-icon-button class="connection-disconnected" (click)="connectWS()" matTooltip="Disconnected - Click to reconnect">
          <mat-icon>cloud_off</mat-icon>
        </button>
      }

    </div>
<!--    <div>
      <button (click)="inputFile.click()" aria-label="Import file button" mat-icon-button><mat-icon>upload</mat-icon></button>
    </div>-->
  </mat-toolbar>
  @if (ready) {
    <app-breadcrumb></app-breadcrumb>
    <router-outlet></router-outlet>
  }


</mat-drawer-container>

<input type="file" #inputFile hidden (change)="handleFileImport($event)">
