<mat-drawer-container autosize class="drawer-container">
  <mat-drawer #drawer mode="over" class="drawer-sidenav-content">
    <div style="display: flex; gap: 20px; padding: 20px">

    </div>
  </mat-drawer>
  <mat-toolbar color="primary">
    <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Contort</span>
    <span class="spacer"></span>
    <div>
      <button mat-icon-button (click)="openCustomScoreEditor()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
<!--    <div>
      <button (click)="inputFile.click()" aria-label="Import file button" mat-icon-button><mat-icon>upload</mat-icon></button>
    </div>-->
  </mat-toolbar>
  <router-outlet></router-outlet>

</mat-drawer-container>

<input type="file" #inputFile hidden (change)="handleFileImport($event)">
