<mat-drawer-container autosize class="drawer-container">
  <mat-drawer #drawer mode="over" class="drawer-sidenav-content">
    <div style="display: flex; gap: 20px; padding: 20px">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Color settings</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div *ngFor="let g of grades" style="display: flex; align-items: center; justify-content: center; padding: 2px">
            <div>
              <ngx-colors ngx-colors-trigger [(ngModel)]="dataService.color_map[g]"></ngx-colors>
            </div>
            <div style="font-size: 15pt; padding-left: 20px">{{g}}</div>
          </div>

        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="triggerUpdate()">Update</button>
        </mat-card-actions>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>Segment settings</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div style="display: flex; flex-direction: column; gap:20px">
            <mat-form-field>
              <mat-label>Margin Top</mat-label>
              <input matInput type="number" [(ngModel)]="dataService.segmentSettings['margin-top']">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Margin Bottom</mat-label>
              <input matInput type="number" [(ngModel)]="dataService.segmentSettings['margin-bottom']">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Heatmap Cell-size</mat-label>
              <input matInput type="number" [(ngModel)]="dataService.segmentSettings['cell-size']">
            </mat-form-field>
          </div>

        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="triggerUpdate()">Update</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-drawer>
  <mat-toolbar color="primary">
    <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Contort</span>
    <span class="spacer"></span>
    <div>
      <button (click)="inputFile.click()" aria-label="Import file button" mat-icon-button><mat-icon>upload</mat-icon></button>
    </div>
  </mat-toolbar>
  <div>
    <div style="display: flex; padding: 20px; gap: 20px">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Protein Search</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div style="padding: 20px">
            <form [formGroup]="form" (ngSubmit)="getCONSURF()">
              <mat-form-field style="padding-right:20px">
                <mat-label>Search</mat-label>
                <input matInput type="search" formControlName="term" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <button mat-raised-button type="submit" color="primary">Search</button>
            </form>
          </div>
        </mat-card-content>

      </mat-card>
      <app-segment-finder [data]="dataService.combinedData"></app-segment-finder>
    </div>



    <div style="padding: 20px">
      <app-consurf-plot [data]="dataService.dataGrade"></app-consurf-plot>
    </div>
    <div style="padding: 20px; display: flex; justify-content: center">
      <app-seq-view [data]="dataService.combinedData"></app-seq-view>
    </div>
  </div>

</mat-drawer-container>

<input type="file" #inputFile hidden (change)="handleFileImport($event)">
